@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Roboto;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.banner-container img{
    width: 100%;
}

#loop{
    width: 50vw;
}

h1{
    width: 100%;
}